/*
Orange color: #e67e22

*/

/* ----------------------------------------------- */
/* BASIC SETUP */
/* ----------------------------------------------- */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  min-height: 100%;
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}
body {
  background-color: #fff;
  /* padding: 1rem; */
  color: rgba(255, 255, 255, 0.75);
  /* background-color: red; */
  /* font-family: "Lato", "Arial", sans-serif; */
  /* font-family: "DM Sans", sans-serif; */
  /* font-weight: 400; */
  /* font-family: "Montserrat", sans-serif; */
  line-height: 1.7;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;

  /* border: 1px solid green; */
}

.clearfix {
  zoom: 1;
}
/* after pseduo class is used to put content on a website directly from css  */
.clearfix:after {
  content: ".";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

/* ----------------------------------------------- */
/* REUSABLE COMPONENTS */
/* ----------------------------------------------- */

.row {
  max-width: 1140px;
  margin: 0 auto;
  /* border: 1px solid red; */
}

img {
  max-width: 100%;
  display: block;
}
